* {
    padding: 0;
    margin: 0;
}

#mainButtons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.mainButtons {
    margin: 5px;
    padding: 5px 15px;
    border: 3px solid darkblue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 15px;
}

.mainButtons:hover {
    transition-duration: 0.2s;
    background-color: rgb(0, 0, 230);
}

#changelog {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid darkorange;
    border-radius: 5px;
    background-color: orange;
    font-family: 'Mukta Vaani', sans-serif;
}

#changelogTitle {
    margin: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#closeChangelog {
    position: absolute;
    top: 0;
    right: 1%;
    font-family: inherit;
    font-weight: bold;
}

#changelogContent {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

#howToPlay {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid darkorange;
    border-radius: 5px;
    background-color: orange;
    font-family: 'Mukta Vaani', sans-serif;
}

#howToPlayTitle {
    margin: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#closeHowToPlay {
    position: absolute;
    top: 0;
    right: 1%;
    font-family: inherit;
    font-weight: bold;
}

.explanationSection {
    margin-bottom: 1%;
}

.explanationHeader {
    font-weight: bold;
    font-size: 17px;
}

.explanationContent {
    list-style-type: none;
}

.explanationHeader,
.explanationContent {
    margin-left: 5%;
    margin-right: 5%;
}

@font-face {
    font-family: 'Mukta Vaani';
    src: url('https://soymilk13.github.io/fruit-fighters/font/MuktaVaani-Regular.ttf') format('truetype');
}

#socialIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.socialIcon {
    width: 46px;
    height: 46px;
    margin: 5px;
}

#almanac {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid darkorange;
    border-radius: 5px;
    background-color: orange;
    font-family: 'Mukta Vaani', sans-serif;
}

#almanacNav {
    list-style-type: none;
    background-color: rgb(237, 154, 0);
    width: 100%;
}

.almanacTab:first-child {
    padding-left: 1%;
}

.almanacTab:last-child {
    padding-right: 1%;
}

.almanacTab {
    display: inline;
    background-color: rgb(255, 184, 51);
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.activeAlmanacTab {
    background-color: orange;
}

.almanacContent {
    width: 100%;
    word-wrap: break-word;
}

#closeAlmanac {
    position: absolute;
    top: 0;
    right: 1%;
    font-family: inherit;
    font-weight: bold;
}

#moreTab {
    position: relative;
}

#moreTab:hover .dropdownContent {
    display: block;
}

.dropdownContent {
    display: none;
    position: absolute;
    bottom: -26px;
    left: -2px;
    background-color: rgb(255, 184, 51);
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}

.dropdownContent p {
    white-space: nowrap;
}
